@import "lib";
@import "null";

// Vars

// Mixins

// Common
body {
	font-family: 'Tahoma', sans-serif;
	font-size: 24px;
}

h1 {
	padding: 20px;
	margin: 0;
	background-color: #ddd;
	font-weight: 400;
	letter-spacing: 2px;
}

h1.two {
	color: gray;
}